body {

    /* padding: 70px; */
    background-color: rgb(221, 208, 25);

}

h2 {

    color: floralwhite;

}

h1 {

    color: rgb(206, 106, 13);
    -webkit-text-stroke : 2px 
    /* -webkit-text-stroke-color  white; */
}

.h1.borde {

    -webkit-text-stroke : 5px;
    -webkit-text-fill-color : white;

}

h4 {

    color: rgb(206, 106, 13);
    -webkit-text-stroke : 2px 
    /* -webkit-text-stroke-color  white; */
}